# GBA 6070 - Programming Foundation for Business Analytics
# Dr. Mohammad Salehan
# Assignment 11 - Preprocessing
Enter your name below.

In this assignment you will work with a dataset of cars. Let's start with loading the dataset. The missing values in the dataset are marked with ``?``.

In [92]:
import pandas as pd
cars = pd.read_csv('Cars.csv', na_values='?')

1. Examine the shape of the ``dataframe``.

In [76]:
cars.shape

(205, 26)

2. Check the top 5 rows of the ``dataframe`` to see what it looks like.

In [77]:
cars.head()

,ymboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

3. Examine the number of missing values in each column.

In [78]:
cars.isna().sum()

ymboling              0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

4. Replace the missing values in ``num-of-doors`` with the most frequent value. Examine the missing values again to make sure missing values for ``num-of-doors`` are removed.

In [79]:
cars['num-of-doors'].fillna(cars['num-of-doors'].mode()[0], inplace=True)
cars.isna().sum()

ymboling              0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          0
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [80]:
cars['num-of-doors'].mode()[0]

'four'

In [81]:
cars['num-of-doors'].value_counts().idxmax()

'four'

5. Replace the rest of missing values with mean of each column. Examine the missing values again to make sure all of them are removed.

In [83]:
cars.fillna(cars.mean(), inplace=True)
cars.isna().sum()

ymboling             0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

6. Let's examine distinct values in ``num-of-doors``.

In [84]:
cars['num-of-doors'].unique()

array(['two', 'four'], dtype=object)

Convert the string values in ``num-of-doors`` to their numeric equivalent (2, 4).

In [89]:
cars['num-of-doors'] = cars['num-of-doors'].apply(lambda x: 2 if x=='two' else 4)
cars['num-of-doors'].unique()

array([2, 4], dtype=int64)

In [30]:
 cars['num-of-doors'].map( {'two':2, 'four':4 } ).unique()

array([2, 4], dtype=int64)

In [31]:
cars['num-of-doors'].replace({'two':2, 'four':4}).head()

0    2
1    2
2    2
3    4
4    4
Name: num-of-doors, dtype: int64

7. Do the same thing as above for ``num-of-cylinders``.

In [9]:
cars['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [45]:
dict(zip(cars['num-of-cylinders'].unique(), [4,6,5,3,12,2,8]))

{'four': 4,
 'six': 6,
 'five': 5,
 'three': 3,
 'twelve': 12,
 'two': 2,
 'eight': 8}

In [85]:
mappings = dict(zip(cars['num-of-cylinders'].unique(), [4,6,5,3,12,2,8]))
cars['num-of-cylinders'] = cars['num-of-cylinders'].apply(lambda x: mappings[x])
cars.iloc[:, -13:].head()

,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2823,ohcv,6,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2337,ohc,4,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2824,ohc,5,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

8. For each ``make``, calculate maximum ``price``, minimum ``city-mpg``, and mean ``horsepower``.

In [11]:
cars.groupby('make').aggregate({'price': 'max',
                               'city-mpg': 'min',
                               'horsepower': 'mean'})

                      price  city-mpg  horsepower
make
alfa-romero    16500.000000        19  125.333333
audi           23875.000000        16  121.000000
bmw            41315.000000        15  138.875000
chevrolet       6575.000000        38   62.666667
dodge          12964.000000        19   86.333333
honda          12945.000000        24   80.230769
isuzu          13207.129353        24   77.000000
jaguar         36000.000000        13  204.666667
mazda          18344.000000        16   85.529412
mercedes-benz  45400.000000        14  146.250000
mercury        16503.000000        19  175.000000
mitsubishi     14869.000000        19  104.076923
nissan         19699.000000        17  102.555556
peugot         18150.000000        18   99.818182
plymouth       12764.000000        19   86.714286
porsche        37028.000000        17  210.400000
renault         9895.000000        23  104.256158
saab           18620.000000        19  126.666667
subaru         11694.000000        23   86.250000
toyota         17669.000000        19   92.781250
volkswagen     13845.000000        19   81.083333
volvo          22625.000000        17  128.000000

9. Which ``make`` is, on average, the most expensive?

In [50]:
cars.groupby('make').mean()['price'].sort_values(ascending=False)

make
jaguar           34600.000000
mercedes-benz    33647.000000
porsche          27761.825871
bmw              26118.750000
volvo            18063.181818
audi             17194.589908
mercury          16503.000000
alfa-romero      15498.333333
peugot           15489.090909
saab             15223.333333
isuzu            11061.814677
mazda            10652.882353
nissan           10415.666667
volkswagen       10077.500000
toyota            9885.812500
renault           9595.000000
mitsubishi        9239.769231
subaru            8541.250000
honda             8184.692308
plymouth          7963.428571
dodge             7875.444444
chevrolet         6007.000000
Name: price, dtype: float64

In [53]:
cars.groupby('make')['price'].mean().idxmax()

'jaguar'

In [54]:
cars.groupby("make").aggregate({"price":"mean"}).sort_values(by = "price", ascending = False).head(1)

          price
make
jaguar  34600.0

10. Create dummies for all categorical columns.

In [69]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ymboling           205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    int64
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    float64
 22  peak-rpm           205 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    float64
dtypes: float64(11), int64(6), object(9)
memory usage: 41.8+ KB

In [86]:
cars = pd.get_dummies(cars, columns=['make', 'fuel-type', 'aspiration',
                                     'body-style','drive-wheels','engine-location',
                                     'engine-type','fuel-system'])
cars.columns

Index(['ymboling', 'normalized-losses', 'num-of-doors', 'wheel-base', 'length',
       'width', 'height', 'curb-weight', 'num-of-cylinders', 'engine-size',
       'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm',
       'city-mpg', 'highway-mpg', 'price', 'make_alfa-romero', 'make_audi',
       'make_bmw', 'make_chevrolet', 'make_dodge', 'make_honda', 'make_isuzu',
       'make_jaguar', 'make_mazda', 'make_mercedes-benz', 'make_mercury',
       'make_mitsubishi', 'make_nissan', 'make_peugot', 'make_plymouth',
       'make_porsche', 'make_renault', 'make_saab', 'make_subaru',
       'make_toyota', 'make_volkswagen', 'make_volvo', 'fuel-type_diesel',
       'fuel-type_gas', 'aspiration_std', 'aspiration_turbo',
       'body-style_convertible', 'body-style_hardtop', 'body-style_hatchback',
       'body-style_sedan', 'body-style_wagon', 'drive-wheels_4wd',
       'drive-wheels_fwd', 'drive-wheels_rwd', 'engine-location_front',
       'engine-location_rear', 'engine-type_dohc', 'engine-type_dohcv',
       'engine-type_l', 'engine-type_ohc', 'engine-type_ohcf',
       'engine-type_ohcv', 'engine-type_rotor', 'fuel-system_1bbl',
       'fuel-system_2bbl', 'fuel-system_4bbl', 'fuel-system_idi',
       'fuel-system_mfi', 'fuel-system_mpfi', 'fuel-system_spdi',
       'fuel-system_spfi'],
      dtype='object')

11. Normalize all numeric values in the dataset. Exclude the dummies.

In [74]:
from sklearn import preprocessing
cars.iloc[:, :17] = preprocessing.scale(cars.iloc[:, :17])
cars.head()

,ymboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,1.743470,0.000000,-1.141653,-1.690772,-0.426521,-0.844782,-2.020417,-0.014566,-0.352887,0.074449,...,0,0,0,0,0,0,0,1,0,0
1,1.743470,0.000000,-1.141653,-1.690772,-0.426521,-0.844782,-2.020417,-0.014566,-0.352887,0.074449,...,0,0,0,0,0,0,0,1,0,0
2,0.133509,0.000000,-1.141653,-0.708596,-0.231513,-0.190566,-0.543527,0.514882,1.502032,0.604046,...,1,0,0,0,0,0,0,1,0,0
3,0.938490,1.328961,0.875923,0.173698,0.207256,0.136542,0.235942,-0.420797,-0.352887,-0.431076,...,0,0,0,0,0,0,0,1,0,0
4,0.938490,1.328961,0.875923,0.107110,0.207256,0.230001,0.235942,0.516807,0.574572,0.218885,...,0,0,0,0,0,0,0,1,0,0

In [90]:
cars2=cars.copy()
cars2.iloc[:, :17] = cars2.iloc[:, :17].apply(preprocessing.scale)
cars2.head()

,ymboling,normalized-losses,num-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,1.743470,0.000000,-1.141653,-1.690772,-0.426521,-0.844782,-2.020417,-0.014566,-0.352887,0.074449,...,0,0,0,0,0,0,0,1,0,0
1,1.743470,0.000000,-1.141653,-1.690772,-0.426521,-0.844782,-2.020417,-0.014566,-0.352887,0.074449,...,0,0,0,0,0,0,0,1,0,0
2,0.133509,0.000000,-1.141653,-0.708596,-0.231513,-0.190566,-0.543527,0.514882,1.502032,0.604046,...,1,0,0,0,0,0,0,1,0,0
3,0.938490,1.328961,0.875923,0.173698,0.207256,0.136542,0.235942,-0.420797,-0.352887,-0.431076,...,0,0,0,0,0,0,0,1,0,0
4,0.938490,1.328961,0.875923,0.107110,0.207256,0.230001,0.235942,0.516807,0.574572,0.218885,...,0,0,0,0,0,0,0,1,0,0

In [15]:
cars.iloc[:, 9:].head()

,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,make_alfa-romero,make_audi,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,0.519089,-1.839404,-0.288349,0.171065,-0.263484,-0.646553,-0.546059,0.036674,1,0,...,0,0,0,0,0,0,0,1,0,0
1,0.519089,-1.839404,-0.288349,0.171065,-0.263484,-0.646553,-0.546059,0.419498,1,0,...,0,0,0,0,0,0,0,1,0,0
2,-2.404862,0.685920,-0.288349,1.261807,-0.263484,-0.953012,-0.691627,0.419498,1,0,...,1,0,0,0,0,0,0,1,0,0
3,-0.517248,0.462157,-0.035973,-0.057230,0.787346,-0.186865,-0.109354,0.094639,0,1,...,0,0,0,0,0,0,0,1,0,0
4,-0.517248,0.462157,-0.540725,0.272529,0.787346,-1.106241,-1.273900,0.540524,0,1,...,0,0,0,0,0,0,0,1,0,0